@model List<WebPractica3.Models.Principal>

<body>
    <div class="container">
        <div class="text-center">
            <h1 class="excel-cell">Consulta</h1>
        </div>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Código Compra</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Saldo</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id_Compra</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Precio</td>
                            <td>@item.Saldo</td>
                            <td>@item.Estado</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
   
</body>
